<ion-header>
  <ion-toolbar>
    <ion-title>Modal example</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>La croix literally venmo austin echo park. Small batch meggings activated charcoal kale chips fingerstache. Chambray flexitarian cold-pressed shoreditch wolf put a bird on it shabby chic green juice DIY dreamcatcher fingerstache meggings.</p>
</ion-content>