<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><h1>Dashboard</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="onSubmit()" novalidate>
    <ion-item>
      <ion-label position="stacked">Dummy input</ion-label>
      <ion-input type="text" placeholder="Enter text and then click button"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Submit and Route</ion-button>
  </form>
</ion-content>