<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><h1>Dashboard</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2>Zoom/scale issue</h2>
  <p>Tracked in: <a href="https://github.com/ionic-team/ionic-framework/issues/22805">Ionic issue #22805</a></p>

  <form (ngSubmit)="onSubmit()" novalidate>
    <ion-item>
      <ion-label position="stacked">Dummy input</ion-label>
      <ion-input type="text" placeholder="Enter text and then click button"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Submit and Route</ion-button>
  </form>

  <h2><code>ion-modal</code> issue</h2>
  <p>Tracked in: <a href="https://github.com/ionic-team/ionic-framework/issues/23108">Ionic issue #23108</a></p>
  <p>More info: <a href="https://dequeuniversity.com/rules/axe/4.1/aria-dialog-name?application=AxeChrome">ARIA dialog and alertdialog must have accessible name</a></p>

  <ion-button (click)="showModal()">Show modal</ion-button>
</ion-content>