<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Migas viral la croix locavore kogi raclette cloud bread tousled quinoa 8-bit fam keffiyeh mumblecore put a bird on it. Lomo marfa meggings raw denim seitan, leggings skateboard. Af YOLO four dollar toast food truck, paleo DIY selfies coloring book neutra readymade portland. Semiotics franzen affogato, wayfarers viral 8-bit crucifix seitan shaman art party portland skateboard before they sold out gluten-free.</p>
  <p>Bushwick wolf taxidermy, pork belly disrupt schlitz air plant master cleanse meh polaroid truffaut viral street art woke. Before they sold out schlitz selfies mixtape. 8-bit cardigan tumblr, godard crucifix coloring book polaroid williamsburg wayfarers gluten-free irony cornhole. Vice artisan tumeric, narwhal af +1 ethical. Retro banjo tote bag next level.</p>
  <p>Yr next level post-ironic, blue bottle lomo paleo live-edge. Retro kinfolk shaman, you probably haven't heard of them woke meh ramps +1 craft beer fanny pack fashion axe pug shoreditch. Humblebrag farm-to-table keffiyeh neutra celiac, la croix venmo pork belly twee heirloom etsy squid lumbersexual. Prism shaman schlitz polaroid copper mug tbh cornhole, selvage pour-over next level beard subway tile forage.</p>
</ion-content>
